/* metatable {{{1 */
  .metatable {
    border: 0px; padding: 0px; margin: 0px;
    border-collapse: collapse;
  }
  .metacell {
    margin: 0px; padding: 0px;
    border-style: solid;
    border-color: #dadfe8;
    border-width: 0px;
    position: relative; left: 0px; top: 0px;
    overflow: hidden;
  }
  .metacell.frozen-rows {
    border-bottom-width: 3px;
  }
  .metacell.frozen-columns {
    border-right-width: 3px;
  }
  .no-frozen-rows .metacell.frozen-rows {
    border-bottom-width: 0px;
  }
  .no-frozen-columns .metacell.frozen-columns {
    border-right-width: 0px;
  }

/* scroller {{{1 */
  .metacell > .scroller {
    position: relative; left: 0px; top: 0px;
    z-index: 0;
  }
  .metacell.frozen-rows > .scroller {
    overflow-x: hidden;
  }
  .metacell.moving-rows > .scroller {
    overflow-x: scroll;
  }
  .metacell.frozen-columns > .scroller {
    overflow-y: hidden;
  }
  .metacell.moving-columns > .scroller {
    overflow-y: scroll;
  }

/* pager {{{1 */
  .metacell > .pager {
    position: absolute; left: 0px; top: 0px;
    z-index: -1;
  }
  .metacell > .pager > table {
    position: relative;
  }

