.metatable .metacell {
    display: table-cell;
    margin: 0px; padding: 0px;
    border-style: solid;
    border-color: #dadfe8;
    border-width: 0px;
}
.metatable {
    border: 0px; padding: 0px; margin: 0px;
    border-collapse: collapse;
}
.metatable .metacell.frozen-rows {
    /* sync with metatable.js */
    border-bottom-width: 3px;
}
.metatable .metacell.frozen-columns {
    /* sync with metatable.js */
    border-right-width: 3px;
}
.metatable .metacell.frozen-rows .scroller {
    overflow-x: hidden;
}
.metatable .metacell.moving-rows .scroller {
    overflow-x: scroll;
}
.metatable .metacell.frozen-columns .scroller {
    overflow-y: hidden;
}
.metatable .metacell.moving-columns .scroller {
    overflow-y: scroll;
}
.metatable .pager > table {
    position: relative;
}
