.metatable {
  border: 0; padding: 0; margin: 0;
  border-collapse: collapse;
}

  .metatable__cell {
    margin: 0; padding: 0;
    border-style: solid;
    border-color: #dadfe8;
    border-width: 0;
    overflow: hidden;
  }

    .metatable__cell--frozen-rows { border-bottom-width: 3px; }
    .metatable__cell--frozen-cols { border-right-width:  3px; }

    .metatable--no-frozen-rows .metatable__cell--frozen-rows
      { border-bottom-width: 0; }
    .metatable--no-frozen-cols .metatable__cell--frozen-cols
      { border-right-width: 0; }

  .metatable__scroller {
    overflow-x: hidden;
    overflow-y: hidden;
  }

    .metatable__cell--moving-rows > .metatable__scroller {
      overflow-x: scroll;
    }

    .metatable__cell--moving-cols > .metatable__scroller {
      overflow-y: scroll;
    }

  .metatable__pager > table {
    position: relative;
  }

